RewriteEngine On
RewriteBase /

# Izinkan file langsung diakses
RewriteRule ^(.*\.(js|css|png|jpg|jpeg|gif|svg|ico|json|txt|map))$ $1 [L]

# Semua rute jatuh ke index.html
RewriteRule ^.*$ /index.html [L]
